<html xmlns:th="http://www.thymeleaf.org" lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <title>Add an account</title>

  </head>
	<body>
	
	<h1>Add account</h1>
	
	<form th:action="@/accounts"  th:object="${user}" method="POST">

		<div class="form-group" >
		    <label for="amount" class="control-label">Amount</label>
            <input id="amount" type="number" class="form-control" />
			<p th:errors="*{amount}" class= "text-danger" th:if="${#fields.hasErrors('amount')}"></p>	       
        </div> 
		<button type="submit" class="btn btn-success">Add amount</button>
		
		
	</form>

	</body>
</html>