<html xmlns:th="http://www.thymeleaf.org" lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Add an account</title>

  </head>
	<body>
	
		<header class="row justify-content-between">
		
			<div class="col-4">
				<a class="navbar-brand" th:href="@{/}">Pay My Buddy</a>
			</div>
			
			<div class="col-4">
				<a class="navbar-brand" th:href="@{/}">Home</a>
				<a class="navbar-brand" th:href="@{/transactions/1}">Transfer</a>
				<a class="navbar-brand" th:href="@{/}">Profile</a>
				<a class="navbar-brand" th:href="@{/addcontact}">Contact</a>
				<a class="navbar-brand" th:href="@{/logout}">Log off</a>
			</div>
		
		</header>
		
		<div class="container">
		
			<h4>Add to account</h4>
			<div class="col-md-2 col-md-offset-3">
			
				<form th:action="@{/toaccounts}" th:object="${updateUserAccount}" method="POST">
				
				<p class="text-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>
			
					<div class="form-group"  th:classappend="${#fields.hasErrors('amount')}? 'has-error':''" >
					    <label for="amount" class="control-label">Amount</label>
			            <input id="amount" type="number" min="0" class="form-control" th:field="*{amount}"/>
			            <p class="text-danger" th:if="${error}" th:text="${error}"></p>       
			        </div> 
					<button type="submit" class="btn btn-success">Send to account</button>
						
				</form>
			
			</div>
		<p>Send money from your account <a th:href="@{/accounts}">here</a></p>
		</div>

	</body>
</html>