<html xmlns:th="http://www.thymeleaf.org" lang="en">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet">
    

    <title>Transactions</title>

  </head>
	<body>
	
		<header class="row justify-content-between">
		
			<div class="col-4">
				<a class="navbar-brand" th:href="@{/}">Pay My Buddy</a>
			</div>
			
			<div class="col-4">
				<a class="navbar-brand" th:href="@{/}">Home</a>
				<a class="navbar-brand" th:href="@{/transactions/1}">Transfer</a>
				<a class="navbar-brand" th:href="@{/accounts}">Profile</a>
				<a class="navbar-brand" th:href="@{/addcontact}">Contact</a>
				<a class="navbar-brand" th:href="@{/logout}">Log off</a>
			</div>
		
		</header>
	
		<br>
		<div class="container">
			<div class="row justify-content-center">
		        <div class="col-md-8 col-md-offset-3">
		        
					<div class="row align-items-end">
						<div class="col-xs-12 col-md-8">
			            	<h4>Send money</h4>
			            </div>  
			            <a class="col-xs-6 col-md-4 btn btn-success" th:href="@{/addcontact}">Add Connection</a>        
					</div>
					
					<br>
					
					<div class="bg-light" style="margin:0px; padding:2rem;">
						<form th:action="@{'/transactions/' + ${currentPage}}" th:object="${transaction}" method="POST">
						
						<p class="text-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>
					        <div class="row">
					        
						        <div class="col-sm-3" th:object="${friend}">
						        <div th:classappend="${#fields.hasErrors('amount')}? 'has-error':''" >
									<select th:field="*{email}" class="form-control">
										<option value=""> Select a connection </option>
										<option th:each="contact : ${contacts}"
										 		th:value="${contact.email}"
										 		th:text="${contact.email}"
										 		
										 />
									</select>
									<p class="text-danger" th:if="${errorNotFound}" th:text="${errorNotFound}"></p>
									</div>
					          </div> 
						       
						        
					           <div class="col-sm-3" th:classappend="${#fields.hasErrors('amount')}? 'has-error':''" >
									<label for="amount" class="control-label"></label>
					                <input id="amount" placeholder="amount" class="form-control" type="number" min="0" th:field="*{amount}"/>
					                <p class="text-danger" th:if="${error}" th:text="${error}"></p>          
					          </div>
					          
					          
					          <div class="col-sm-3" th:classappend="${#fields.hasErrors('description')}? 'has-error':''" >
									<label for="description" class="control-label"></label>
					                <input id="description" placeholder="short description" class="form-control" th:field="*{description}"/>
					                <p class="text-danger" th:if="${errorDesc}" th:text="${errorDesc}"></p>          
					          </div>
					           
					           
							  	<button type="submit" class="btn btn-success col-sm-3">Pay</button>
						   	  
						   </div>
						</form>
					
					</div>
				</div>
				
				<div class="col-md-8 col-md-offset-3">
					
					<h4>My transactions</h4>
					
					<table class="table table-striped table-bordered justify-content-center" id="table-paging">
						<thead>
							<tr class="bg-success">
								<th class="text-center" style="color:white;">Connections</th>
								<th class="text-center" style="color:white;">Description</th>
								<th class="text-center" style="color:white;">Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="transac : ${transacs}">
								<td class="text-center" th:text="${transac.beneficiary.email}"></td>
								<td class="text-center" th:text="${transac.description}"></td>
								<td class="text-center" th:text="${transac.amount}"></td>
							</tr>
						</tbody>
					</table>
					
				</div>
				
				<div class="col-md-8 col-md-offset-3">
					
					<div th:if = "${totalPages > 1}">
						<div class = "row col-md-12 justify-content-center">
	
							<div class="col-sm-1 border">
			    				<a th:if="${currentPage > 1}" th:href="@{'/transactions/' + 1}"> &#10094;&#10094;</a>
								<span th:unless="${currentPage > 1}">&#10094;&#10094;</span>
			   				 </div>
							
							<div class = "col-sm-1 border">
								<a th:if="${currentPage > 1}" th:href="@{'/transactions/' + ${currentPage - 1}}">&#10094;</a>
								<span th:unless="${currentPage > 1}">&#10094;</span>
							</div>
							
							<div class = "col-sm-2 border">
								<span th:each="i: ${#numbers.sequence(1, totalPages)}">
									<a th:if="${currentPage != i}" th:href="@{'/transactions/' + ${i}}">[[${i}]]</a>
									<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
								</span>	
							</div>
							
							<div class = "col-sm-1 border">
								<a th:if="${currentPage < totalPages}" th:href="@{'/transactions/' + ${currentPage + 1}}">&#10095;</a>
								<span th:unless="${currentPage < totalPages}">&#10095;</span>
							</div>
							
							 <div class="col-sm-1 border">
			    				<a th:if="${currentPage < totalPages}" th:href="@{'/transactions/' + ${totalPages}}">&#10095;&#10095;</a>
								<span th:unless="${currentPage < totalPages}">&#10095;&#10095;</span>
			   				 </div>
						</div>
					</div>			
				</div>	
			</div>	
			
		</div>
	
	</body>
</html>